:root {
    --primary-color: #0F62FE;
    --secondary-color: #33B1FF;
    --tertiary-color: #0D75EC;
    --text-color: #111;
    --font-family: sans-serif;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--primary-color);
    font-family: var(--font-family);
}

#head-text{
    margin-bottom: 20px;
    margin-left: 4%;
    color: var(--primary-color);
    width: 90%
}

.container{
    width: 75%;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    padding: 1rem;
    padding-top: 50px;
    border-radius: 1rem;
    height: 500px;
}

#newtask{
    display: flex; 
    justify-content: center; /* Align items horizontally to center */
    align-items: center; /* Align items vertically to center */
    width: 90%;
    margin: 0 auto; /* Center the div horizontally */
    font-weight: 500;
    border: none;
    font-size: 0.9375rem;
    padding-bottom: 25px;
    border-bottom:  var(--tertiary-color) 1px solid;
}

#newtask input:focus{
    outline: none;
    border-color: var(--tertiary-color);
}

#newtask button{
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--primary-color);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right; /* Align button to the right */
 }

#newtask button:hover,
#newtask button:focus {
   background-color: var(--tertiary-color);
}

#task_add{
    padding: 0.5rem;
    width: 100%;
    min-width: none;
    border-radius: 0.3125rem;
    border: 1px solid var(--secondary-color);
    margin: none;
}

#push{
    display: flexbox; 
    padding: 0.525rem;
    position: relative;
    margin-left: 20px;
    border-radius: 0.3125rem;
    width: 50%
}

/* task list */
.task{
    border-radius: 5px;
    align-items: center; 
    justify-content: space-between;
    cursor: pointer;
    height: 50px;
    margin-bottom: 8px;
    padding: 10px 10px;
    display: flex;
    margin: auto;
    width: 90%;
    overflow-y: auto; /* Add this line */
}

.task.overflow{
    overflow-y: scroll;
    max-height: 300px;
    }

    .delete{
        right: -5px;
        padding: 5px 5px;
        background: #FFFFFF;
        border-radius: 4px;
        transform-origin: top right;
        box-shadow: 0 0 6px rgba(0,0,0,0.15);
        transition: transform 0.2s ease;
        z-index: 10;
    }

    #check-task{
        margin-right: 20px;
    }

    .task label{
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    .tasks {
        overflow-y: auto;
        max-height: 300px; /* Adjust this value as needed */
    }

    .task label p.checked {
        text-decoration: line-through;
    }

    .task label input {
        justify-content: middle;
        vertical-align: middle; /* Add this line */
    }

        .task::-webkit-scrollbar {
            width: 10px;
            background: var(--tertiary-color);
            border-radius: 25px;
        }
        .task::-webkit-scrollbar-track {
            background: var(--tertiary-color);
            border-radius: 25px;
            }
        .task::-webkit-scrollbar-thumb {
            background: var(--tertiary-color);
            border-radius: 25px;
            }